@import "./assets/header";
@import "./assets/main";
@import "./assets/footer";


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    font-family: "Oswald";
    padding: 0px;
    margin: 0px;
    background: black;
}
ul {
    text-decoration:  none;
    list-style:  none;
    padding: 0px;
    margin: 0px;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}